body {
	font-family: "Lato", sans-serif;
}

.sidebar {
	margin-top: 0px;
	padding-top: 0px;
	width: 250px;
	background-color: #354DB9;
	position: fixed;
	height: 100%;
	overflow: auto;
}

/* .sidebar a {
	margin-top: 20px;
	display: block;
	color: black;
	padding: 16px;
} */

.vertical-center {
  justify-content: center;
   text-align: center;
	 padding-top: 50px;
	 text-decoration: underline  wavy white;
}

.vertical-center-number {
  justify-content: center;
   text-align: center;
	 padding-top: 5px;
}

/* .sidebar a.active {
	background-color: #36C2CF;
	color: white;
} */

/* .sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
} */

div.content {
	margin-top: 50px;
	margin-left: 250px;
	padding: 1px 16px;
	height: auto;
}

.text-color-white {
	color: #FFFFFF;
}

/* @media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
} */

/* @media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
} */
