body  {
	margin-top: auto;
	background-color: #F5F6FA;
}

.sky_blue{
  width: 6%;
  height: 100%;
	padding: 0;
	background-color: #006a4e;
}
.flag_color{
  background-color: #006a4e;
}

.flag_color_text{
  color: #006a4e;
}


.custom_blue{
	background-color: #354DB9;
}

.custom_White{
	background-color: #FFFFFF;
}

.navbar{
	padding: 0;
	min-height: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}

.sky_blue_text{
	color: #36C2CF;
}

a {
	margin-left: 5px;
  font-size: 22px;
}

#sidbartable{
  position: fixed;
  min-height: 100%;
  height: 100%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006a4e;
  color: white;
  text-align: center;
}

.headerlogo{
width: 160px;
height: 10px;
background-color: #006a4e;
}


.paging_full_numbers a.paginate_button {
  color: #fff !important;
}
.paging_full_numbers a.paginate_active {
  color: #fff !important;
}
